.MainDivHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./OSV4VS0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.backgroundImageHome{
    position: relative;
    width: 100%;
    height: 100%;
}